/* CSS file is pretty self-explanatory. I'm using a single file just separated by comments. Easier for me to take care of it
and readability is not decreased if properly commented, however it saves me the headache of looking for the correct file.  */

html,
body {
    background-color: ivory;
    width: 100%;
    height: 100%;
}

/* --------------------- HTMLComponents.js ---------------------*/

/* Nav */
header {
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    padding: 35px 100px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    display: block;
}

header nav ul {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
}

header nav li {
    margin: 0 6px;
    font-size: 1.3rem;
}

header a {
    text-decoration: none;
    color: white;
    opacity: .6;
    cursor: pointer;
}

#logo{
    height: auto;
    width: auto;
    max-width: 75px;
    max-height: 75px;
}

/* Top Section */

#top {
    background: gray;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://images.pexels.com/photos/5645052/pexels-photo-5645052.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    /* background-image: url(https://images.pexels.com/photos/1435895/pexels-photo-1435895.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); */
    background-repeat: none;
    background-size: cover;
    min-height: 100vh;
    border-bottom: 2px solid #000;
}

#top h1 {
    font-size: 60px;
}

#top h1,
#top h3 {
    text-shadow: 2px 2px #000;
}

@media (min-width: 1200px) {
    .h3 {
        font-size: 1.75rem;
    }
}

#snap{
    display: flex;
    bottom: 87px;
    position: absolute;
}

/* --------------------- Search.tsx ---------------------*/
/* SEARCH AND SEARCH BAR */
.filter {
    align-items: center;
}

input {
    padding: 0px 5px 5px 0px;
}

#filters {
    /*the wrapping div around the filter buttons*/
    align-items: center;
    text-align: center;
    padding-top: 15px;
    font-size: 25px;
}

#filter {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#filter,
#search {
    width: 90%;
    margin: auto;
    font-weight: bold;
}
#searchbar{
    font-size: 1.2rem;
}

/* #search{
    box-shadow: 2px 5px rgba(0, 0, 0, 0.187);
} */



/* --------------------- FetchData.js, OrderSummary.js, MenuItems.js ---------------------*/

/* MenuItems top */


#menuh2,
#order, #shoppinglisth2 {
    text-align: center;
}

#order, #shoppinglisth2{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 90%;
    font-size: 65px;
}

#menuh2 {
    padding: 30px 0px 30px 0px;
    width: 100%;
    font-size: 75px;
}

#menu {
    background-image: url(https://res.duffieldtimber.com/content/your-guide-to-pale-woods-types-uses-interior-design-tips/_800x801_crop_center-center_none/Maple.jpg?mtime=20201102102352&focal=none);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Accordion */
.accordion-item,
.accordion {
    margin: auto;
}

.accordion {
    padding-top: 25px;
    width: 50%;
    margin: auto;
}

.accordion-item {
    margin: 15px 0px 15px 0px;
}

.accordion-body {
    background-color: rgba(255, 255, 255, 0.75);
    font-weight: bold;
}

/* Cards */

.card-text {
    border-bottom: 2px dashed black;
    white-space: pre-wrap;

}

.card-body {
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    text-align: center;
}

.card-body button {
    text-align: center;
    min-height: 100px;
    font-size: 60px;
    font-weight: bold;
    background-color: ivory;
    border: 2px solid black;
}

.card-body button legend {
    font-size: 25px;
/*     border-top: 1px solid black;
    border-bottom: 1px solid black; */
}

/* Buttons */
#removebookmark,
#addbookmark {
    font-size: 15px;
}



#bookmarks {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: none;
    background-size: cover;
    min-height: 100vh;
}

#shoppinglisth2{
    margin: auto;
    padding-bottom: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.shoppingCard{
    margin: auto;
    width: 50%;
    text-align: center;
}

/* Footer */
footer {
    background-color: #131622;
    color: white;
    text-align: center;
    background: linear-gradient(to bottom, #284e7a, #000 100%);
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Mobile view adjustments */

@media (max-width: 750px) {

    #logo{
        height: auto;
        width: auto;
        max-width: 60px;
        max-height: 60px;
    }
    
    header nav li{
        font-size: 1.1rem
    }

    #order{
        font-size: 50px
    }

    .accordion-item,
    .accordion {
        width: 100%;
    }

    .shoppingCard{
        width: 100%;
    }
    #filters{
        font-size: 15px;
    }

}